vs/
/vs
/.vs

# Ignore compiled files
*.dll
*.exe
*.so
*.dylib
*.dll

# Ignore build directories
bin/
obj/
/bin
/obj
/.bin
/.obj

# Ignore user-specific files
*.user
*.userosscache
*.sln.docstates
*.suo

# Ignore Visual Studio Code files
vscode/

# Ignore Rider files
idea/
*.sln.iml

# Ignore packaging
*.jar
*.war

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

/bin/x64/Debug/Diagnostics.pdb
/bin/x64/Debug/TestExec.pdb
/bin/x64/Debug/TestLib.pdb
/obj/x64/Debug/Diagnostics.csproj.AssemblyReference.cache
/obj/x64/Debug/Diagnostics.pdb

/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x64/Debug/Diagnostics.csproj.CoreCompileInputs.cache
/obj/x64/Debug/Diagnostics.csproj.FileListAbsolute.txt
/.vs/Diagnostics/v17/DocumentLayout.backup.json
/.vs/Diagnostics/v17/DocumentLayout.json
/.vs/Diagnostics/v17/DocumentLayout.json
/obj/x64/Debug/Diagnostics.csproj.SuggestedBindingRedirects.cache
