<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Program Files\ABT\Test\TestExec" />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestLib" publicKeyToken="8237fb73ef4b01d8" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/TestLib.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestExec" publicKeyToken="8237fb73ef4b01d8" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/TestExec.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestChooser" publicKeyToken="8237fb73ef4b01d8" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/TestChooser.exe"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestDev" publicKeyToken="8237fb73ef4b01d8" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/TestDev.exe"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ag34401_11" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ag34401_11.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ag34980_2_43" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ag34980_2_43.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AgE363x_1_7" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/AgE363x_1_7.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AgE364xD_1_7" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/AgE364xD_1_7.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Agilent.Agilent34952A.Interop" publicKeyToken="ced78d295d1e0f2b" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/Agilent.Agilent34952A.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AgSCPI99_1_0" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/AgSCPI99_1_0.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IVI Shared Components" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="1.0.4815.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ivi.Driver.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IVI Shared Components" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="3.0.4815.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ivi.Scope.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VISA.NET Shared Components" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="7.2.7619.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ivi.Visa.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Assembly imported from type library VisaComLib" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="3.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/Ivi.Visa.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tektronix.Tkdpo2k3k4k.Interop" publicKeyToken="65cff6f5578f3c89" culture="neutral"/>
        <codeBase version="1.5.0.0" href="file:///C:/Program Files/ABT/Test/TestExec/Tektronix.Tkdpo2k3k4k.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
