<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ag34401_11" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/Ag34401_11.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ag34980_2_43" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/Ag34980_2_43.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AgE363x_1_7" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/AgE363x_1_7.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AgE364xD_1_7" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/AgE364xD_1_7.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AgSCPI99_1_0" publicKeyToken="344b812ea93ad2d2" culture="neutral"/>
        <codeBase version="0.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/AgSCPI99_1_0.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <codeBase version="4.2.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/Serilog.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <codeBase version="4.0.3.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Buffers.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <codeBase version="9.0.0.3" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Diagnostics.DiagnosticSource.dll"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.4" newVersion="9.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <codeBase version="4.0.1.2" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Memory.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="4.1.4.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Numerics.Vectors.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="6.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Runtime.CompilerServices.Unsafe.dll"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <codeBase version="8.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Threading.Channels.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <codeBase version="4.2.0.1" href="file:///C:/Program Files/ABT/Test/TestExecutive/System.Threading.Tasks.Extensions.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TestChooser" publicKeyToken="69d5d3b8c136adcf" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/TestChooser.exe"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TestDev" publicKeyToken="69d5d3b8c136adcf" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/TestDev.exe"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TestExec" publicKeyToken="69d5d3b8c136adcf" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/TestExec.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TestLib" publicKeyToken="69d5d3b8c136adcf" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/TestLib.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Agilent.Agilent34952A.Interop" publicKeyToken="ced78d295d1e0f2b" culture="neutral"/>
        <codeBase version="1.6.0.0" href="file:///C:/Program Files/IVI Foundation/IVI/Bin/Primary Interop Assemblies/Agilent.Agilent34952A.Interop.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Driver.Interop" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="1.0.0.0" href="file:///C:/Program Files/IVI Foundation/IVI/Bin/Primary Interop Assemblies/Ivi.Driver.Interop.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Scope.Interop" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="3.0.0.0" href="file:///C:/Program Files/IVI Foundation/IVI/Bin/Primary Interop Assemblies/Ivi.Scope.Interop.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="7.2.0.0" href="file:///C:/Program Files/IVI Foundation/VISA/Microsoft.NET/Framework64/v2.0.50727/VISA.NET Shared Components 7.2.0/Ivi.Visa.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <codeBase version="7.2.0.0" href="file:///C:/Program Files/Keysight/IO Libraries Suite/log4net.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <codeBase version="6.0.0.0" href="file:///C:/Program Files/ABT/Test/TestExecutive/Serilog.Sinks.File.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tektronix.Tkdpo2k3k4k.Interop" publicKeyToken="65cff6f5578f3c89" culture="neutral"/>
        <codeBase version="1.5.0.0" href="file:///C:/Program Files/IVI Foundation/IVI/Bin/Primary Interop Assemblies/Tektronix.Tkdpo2k3k4k.Interop.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

